div {
    display: block;
  }
  
  body {
    background: #ffffff;
  }
  
  body, input {
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #222222;
  }
  
  nav {
    display: flex;
    position: fixed;
    width: 99%;
    overflow: auto;
  }

  #apps {
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    opacity: 0.26;
    padding: 0;
  }
  
  #apps:hover {
    opacity: 1;
  }

  .nlink {
   display: inline-block;
   text-align: center;
   padding: 10px;
   color: #222222;
   text-decoration: none;
  }
  
  .nlink:hover {
    text-decoration: underline;
  }
  
  .nav-left {
    flex: 1 1 200px;
  }
  
  button {
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 130px;
    color: #5f6368;
  }
  
  #blue {
    color: #fff;
    background: #4386fa;
    width: 70px;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
  }
  
  #menu {
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 100px;
    background: url(https://static.thenounproject.com/png/3095017-200.png) center no-repeat;
    background-size: 24px;
    opacity: 0.5;
  }
  
  #menu:hover {
    opacity: 1;
    box-shadow: 0 0px 2px rgba(0,0,0,0);
  }
  
  button:hover {
    box-shadow: 0 0px 2px rgba(0,0,0,.5);
  }
  
  .button-divider {
    width: 175px;
    height: auto;
    display: inline-block;
  }
  
  input {
    background: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) right no-repeat;
    background-size: 24px;
    background-position: 570px;
  }
  
  input:focus {
     outline: none;
  }
  
  input[type=text] {
    padding-left: 55px;
  }
  
  .content {
    width:100%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .logo {
    margin: auto;
    padding: 25px;
  }
  
  #search-icon {
    opacity: 0.5;
    padding: 10px;
    min-width: 40px;
    position: absolute;
  }

  #search {
    border: 1px solid #dfe1e5;
    border-radius: 26px;
    width: 556px;
    height: 42px
  }
  
  #search:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
  }
  
  .search-buttons {
    padding: 30px;
  }
  
  .flink {
   display: inline-block;
   padding: 10px;
   text-align: center;
   color: #5f6368;
   text-decoration: none;
  }
  
  .flink:hover {
    text-decoration: underline;
  }
  
  .footer {
    border: 1px solid #dfe1e5;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: auto;
    background: #f2f2f2;
    left: -1px;
  }
  
  .footer-left {
    float: left;
  }
  
  .footer-right {
    float: right;
  }